header {
    color: white;
    background-color: black;
    padding: 5px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    float: left;
    padding-left: 10px;
    margin: 10px;
}
#sec1 {
    margin-top: 50px;
    background-color: gray;
    padding: 5px;
}
h2 {
    padding-left: 10px;
}
.body {
    background-color: white;
    margin: 5px;
}
.par {
    padding-left: 10px;
}
footer {
    background-color: black;
    color: white;
    padding: 5px;
}